<div class="container">
  <h2>Welcome To Mean Tea!</h2>
  <div class="row sortoptions">
    <div class="three columns">
      <span>Search By Category</span>
      <select
          ng-model="category"
          ng-options="value.category as value.category for value in vm.category">
          <option>--</option>
      </select>
    </div>
    <div class="seven columns">
      <button type="button" class="btn checkoutbag">Checkout | {{cart}}</button>
    </div>
  </div>
  <div class="row head">
    <div class="one column">
      <h5>Tea</h5>
    </div>
    <div class="ten columns">
      <h5 class="five columns">Information</h5>
      <span>Sort by price</span>
      <select
          ng-model="sort"
          ng-options="value.value as value.label for value in vm.sortPrice">
          <option>--</option>
      </select>
    </div>
  </div>
  <div class="catalog" ng-repeat="item in vm.catalog | orderBy:sort">
    <div class="row">
      <div class="two columns photo">
        <img ng-src="{{item.imageUrl}}" alt="" />
      </div>
      <div class="ten columns">
        <div class="details four columns">
          <h3><strong>{{item.name}}</strong></3>
          <p><strong>Price:</strong>  {{item.price}}</p>
          <p><strong>Caffeine Scale:</strong>  {{item.caffeineScale}}</p>
          <p><strong>Ingredients:</strong>  {{item.ingredients[0]}}</p>
          <p><strong>Rating:</strong>  {{item.rating}}</p>
          <p ng-show="{{item.inStock}}"><strong>Instock:</strong>  Yes</p>
          <p ng-show="!{{item.inStock}}"><strong>Instock:</strong>  No</p>
            <ul>
              <p><strong>Categories:</strong></p>
              <li ng-repeat="category in item.categories">{{category}}</li>
            </ul>
        </div>
        <span>Quantity</span>
        <select
            ng-model="quantity"
            ng-options="value.value as value.value for value in vm.addQuantity">
            <option>--</option>
        </select>
        <button type="button" class="btn addbag">Add to Bag</button>
      </div>
    </div>
  </div>
</div>
